/*--BREADCUMB _COMPONENT---*/

.breadcrumb-element {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #f7f8f9;
}

.breadcrumb-item a {
  color: black;
  font-size: 14px;
  line-height: 24px;
}
.breadcrumb-item:first-child a {
  color: #6c6d70;
}

/*---left contacts---*/
.side-bar-product {
  background-color: aquamarine;
}
.side-Bar__side-box ul {
  padding-left: 0 !important;
}
