@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/*==========================================================
	2. GENERAL
==========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body{
	color: #6C6D70;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    font-size: 20px;
}

.red-text {
    color: #FF0000;
}

nav {
    margin: 0;
}

a {
    text-decoration: none !important;
    color: #221F20;
}

ul {
    list-style: none !important;
}

/* header */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 20;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.site-header .container {
    justify-content: space-between;
    height: 80px;
    position: relative;
    align-items: center;
    /* border-bottom: 1px solid #E7E8E9; */
}

.site-header .container:after {
    content: "";
    width: calc( 100% - 24px );
    height: 1px;
    background: #E7E8E9;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul.menu li {
    margin-right: 10px;
    padding: 15px 0;
    position: none;
}

ul.menu li>a {
    text-decoration: none;
    font-size: 12px !important;
    color: #221F20;
    font-weight: 600;
    text-transform: uppercase;
}

ul.menu li:hover>a  {
    color: #AC2F33;
}

ul.menu li.red-text>a {
    color: #FF0000;
}

.site-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.site-brand img {
    width: 140px;
    height: auto;
}

.right-header {
    width: 50%;
    text-align: right;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.search-form {
    margin-right: 20px;
    max-width: 225px;
    width: 100%;
    position: relative;
}

.search-form button {
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.search-form .fa-magnifying-glass {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-form input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
}

.header-actions {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-actions .item {
    width: 16px;
    margin-right: 10px;
}

.header-actions .item>a {
    width: 16px;
}

.header-actions .item a>i {
    color: #6C6D70;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
} 

.header-actions .icon {
    font-size: 16px;
    color: #000;
    position: relative;
}

.number-cart {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    background: #221F20;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -32px;
    font-family: 'Montserrat';
}

.item-cart .icon .number-cart {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    right: 10px;
    top: -10px;
}

.sub-menu {
    display: none;
    position: absolute;
    padding: 23px 24px;
    max-width: 100%;
    width: 100%;
    background: #FFF;
    z-index: 30;
    border: 1px solid #E7E8E9;
    top: 59px;
    left: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.main-menu .menu > li:hover > .sub-menu {
    display: flex !important;
    animation: fade_in_show 0.5s;
    animation-duration: 0.5s;
}

.cat-sub-menu, .item-list-submenu {
    margin-right: 50px;
}

.item-list-submenu h3 {
    margin-bottom: 16px;
    text-decoration: none;
    color: #221F20;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
    display: block;
}

.item-list-submenu h3 a {
    color: #221F20;
}

.cat-sub-menu a {
    margin-bottom: 24px !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
    display: block;
}

.cat-sub-menu a:hover {
    color: #AC2F33;
}

.item-list-submenu ul {
    list-style: none;
    padding: 0;
}

.item-list-submenu ul li {
    padding: 0;
}

.item-list-submenu ul li a {
    font-size: 14px !important;
    line-height: 16px;
    color: #57585A;
    display: block;
    margin-bottom: 16px;
    font-weight: 100;
    text-transform: none;
}

/* main css */
.site-main {
    border-bottom: 1px solid #D1D2D4;
    margin-top: 80px;
}

/* home banner */
.home-banner {
    margin-bottom: 42px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background: transparent;
}

.banner-swiper {
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
}

.mySwiper1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.swiper-slide {
    background-color: transparent;
}

.bg-before {
    position: relative;
}

.bg-before::before {
    content: "";
    border: 1px solid #D1D2D4;
    box-sizing: border-box;
    border-radius: 80px 0px;
    padding: 13px 24px;
    position: absolute;
    content: "";
    bottom: 0;
    right: -5px;
    z-index: -1;
    width: 100%;
    height: 93%;
    transform: translateX(10px);
}

.item-banner {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    overflow: hidden;
    /* height: 450px; */
    width: 100%;
}

.item-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination.banner-swiper-pagination > span {
    background-color: #fff;
    width: 14px;
    height: 14px;
    border: 2px solid #cfd0d2;
    border-radius: 50%;
}

/* NEW ARRIVAL */
.home-new-prod {
    margin-bottom: 40px;
}

.title-section {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #221F20;
    margin-bottom: 20px;
}

.exclusive-head ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px    ;
}

.exclusive-tab {
    color: #6C6D70;
    font-size: 20px;
    line-height: 30px;
    margin: 0 56px 0 0;
    display: inline-block;
    cursor: pointer;
}

.exclusive-tab.active {
    color: #221F20;
    border-bottom: 2px solid #221F20;
}

.exclusive-content {
    margin-bottom: 24px;
    position: relative;
    min-height: 100px;
}

.item-new-prod {
    position: relative;
    width: 100%;
    height: 297px;
}

.info-ticket {
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    top: 0;
    left: -7px;
    z-index: 3;
}

.info-ticket:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #ac2e33;
    border-left: 7px solid transparent;
    bottom: -16px;
    left: 0px;
    z-index: -1;
}

.seller {
    background: url(../assets/img/tickets/bg-seller.png) no-repeat center/cover;
    padding: 7px 18px 7px 15px;
}

.thumb-product {
    margin-bottom: 17px;
    position: relative;
    /* width: 198px; */
    /* height: 297px;s */
}

.thumb-product a img {
    display: block;
    width: 100%;
}

.thumb-product a img:first-child {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-o;
}

.thumb-product:hover a img:first-child {
    opacity: 0;
    visibility: hidden;
}

.thumb-product .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    height: 100%;
}

.thumb-product:hover .hover-img {
    opacity: 1;
    visibility: visible;
}

.list-color>ul {
    margin-bottom: 13px;
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
    padding: 0;
}

.list-color ul li {
    width: 18px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;
    margin-right: 10px;
}

.list-color ul li img {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.list-color ul li.checked:before {
    content: "";
    left: 7px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    position: absolute;
}

.product .title-product a {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 10px;
}

.title-product a {
    color: #57585A;
    font-size: 14px;
    line-height: 16px;
    font-weight: 200;
    margin-bottom: 10px;
    display: flex;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    min-height: 32px;
}

.title-product:hover a {
    color: #AC2F33
}

.price-product {
    position: relative;
}

.price-product ins {
    color: #3E3E3F;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    text-decoration: none;
}

.add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-to-cart a {
    background: #221F20;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.add-to-cart a:hover, .add-to-cart a:focus {
    color: #221F20;
    background: #fff;
    border: 1px solid #221F20;
}

.exclusive-content {
    width: 100%;
    height: 500px;
    padding: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    color: #c3c4c7;
    top: 0;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    color: #c3c4c7;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.link-product {
    margin-top: 24px;
    text-align: center;
}

.link-product .all-product {
    background: #FFFFFF;
    border: 1px solid #221F20;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #221F20;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.link-product .all-product::after {
    content: "";
    border: 1px solid #D1D2D4;
    box-sizing: border-box;
    border-radius: 24px 0px;
    padding: 13px 24px;
    position: absolute;
    content: "";
    bottom: 0;
    right: -5px;
    z-index: -1;
    width: 100%;
    height: 93%;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.link-product .all-product:hover {
    background: #221F20;
    color: #FFF;
    border: 1px solid #221F20;
}

/* home trending */
.home-trending {
    margin-bottom: 40px;
    min-height: auto;
}

.img-trending img {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 100%;
}

/* List ads brand */
.list-ads-brand {
    position: relative;
    margin-bottom: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-ads-brand {
    width: 49%;
    height: auto;
}

.item-ads-brand img {
    width: 100%;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}


.list-ads-brand::after {
    content: "";
    width: calc( 100% - 200px );
    height: 1px;
    background: #E7E8E9;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.home-gallery {
    margin-bottom: 40px;
}

.home-gallery .title-gallery {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #221F20;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.list-gallery {
    overflow: hidden;
}

.item-gallery a img {
    width: 100%;
}

/* footer */
.site-bottom {
    padding: 60px 0 0;
    border-bottom: 1px solid #D1D2D4;
}

.main-footer {
    padding-bottom: 32px;
    justify-content: space-between;
}

.left-footer {
    max-width: 22.05%;
    width: 100%;
}

.top-left {
    margin-bottom: 16px;
}

.main-footer .top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-footer .top-left .logo-footer, .main-footer .top-left .dmca-badge {
    margin-right: 0;
}

.top-left > div {
    display: inline-block;
    vertical-align: middle;
}

.top-left > div a, .top-left > div img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.content-ft {
    font-size: 14px;
    line-height: 24px;
    color: #3E3E3F;
}

.list-social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 32px;
    padding: 0;
}

.list-social li {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.list-social li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.hotline a {
    background: #221F20;
    border-radius: 16px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #F7F8F9;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.hotline a:hover {
    color: #F7F8F9;
}

.center-footer {
    max-width: 45.2%;
    width: 100%;
    justify-content: space-between;
}

.item-center-ft .title-footer, .info-right-ft .title-footer {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    margin-bottom: 20px;
}

.item-center-ft ul {
    list-style: none;
    padding: 0;
}

.item-center-ft ul li a {
    font-size: 14px;
    line-height: 18px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
}

.right-footer {
    max-width: 23.75%;
    width: 100%;
}

.right-footer .register-form {
    background: #FFFFFF;
    border: 6px solid #E7E8E9;
    border-radius: 56px 0px;
    padding: 32px 10px;
    margin-bottom: 8px;
}

.right-footer .register-form .title-footer {
    text-align: left;
    max-width: 80%;
    margin-bottom: 8px;
}

.register-form .title-footer {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #221F20;
    text-align: center;
    margin-bottom: 23px;
}

.right-footer .register-form form {
    display: flex;
    justify-content: space-between;
}

.right-footer .register-form form > input {
    width: 63%;
    margin-right: 0;
    padding-left: 0;
    text-align: center;
}

.register-form form input {
    border: 0;
    border-bottom: 1px solid #BCBDC0;
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
    padding: 0 12px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-right: 15px;
}

.btn-submit {
    position: relative;
    display: inline-block;
    background: #FFF;
    border-radius: 24px 0px;
}

.register-form form .form-submit {
    border: 0;
    border-bottom: 1px solid #BCBDC0;
    font-size: 14px;
    line-height: 24px;
    color: #221F20;
    padding: 0 12px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-right: 15px
}

#btn-submit {
    background: #fff;
    border-radius: 24px 0px;
    border: 1px solid #221F20;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #221F20;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

#btn-submit:hover {
    background: #221F20;
    color: #fff;
    transition: all 0.3s ease-in-out 0s;
}

.info-right-ft ul {
    list-style: none;
    padding: 0;
}

.info-right-ft ul li {
    margin-bottom: 12px;
}

.site-footer {
    padding: 24px 0;
}

.copy-right {
    font-size: 16px;
    line-height: 20px;
    color: #57585A;
    text-align: center;
}

/* animation */
@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
