@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.red-text {
    color: #FF0000;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    color: #6C6D70;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 20;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.site-header .container {
    justify-content: space-between;
    height: 80px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #E7E8E9;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

ul.menu li {
    margin-right: 10px;
    padding: 15px 0;
}

ul.menu li>a {
    text-decoration: none;
    font-size: 12px !important;
    color: #221F20;
    font-weight: 600;
    text-transform: uppercase;
}

ul.menu li:hover>a  {
    color: #AC2F33;
}

ul.menu li.red-text>a {
    color: #FF0000;
}

.site-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.site-brand img {
    width: 140px;
    height: auto;
}

.right-header {
    width: 50%;
    text-align: right;
    display: flex;
}

.search-form {
    margin-right: 20px;
    max-width: 225px;
    width: 100%;
    position: relative;
}

.search-form button {
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.search-form .fa-magnifying-glass {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: 100;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-form input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
}

.header-actions {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-actions .item>a {
    width: 34px;
}

.header-actions .item a>i {
    color: #7e7e7e;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
} 

.header-actions .icon {
    font-size: 16px;
    color: #000;
    position: relative;
}

.number-cart {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    background: #221F20;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -32px;
    font-family: 'Montserrat';
}

.item-cart .icon .number-cart {
    width: 16px;
    height: 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    right: 10px;
    top: -10px;
}